.width-100 {
        width: 100%; /* Makes elements take up the full width */
    }
    
    .top-header {
        background: #2196f3;
        padding: 5px 0;
        border-bottom: 1px solid #3131315e;
        width: 100vw;
        margin: 0;
    }
    
    .container {
        max-width: 1200px; /* Defines max width of content */
        margin: 0 auto; /* Centers the container */
        padding: 0 20px; /* Adds some padding on the sides */
    }
    
    .news-list {
        color: white; /* Just an example, you can style it how you like */
    }
    
    .headqoute {
        color: white; /* Style the marquee text */
    }
    .logo img {
        max-height: 100px; /* Sets the maximum height to 50px */
        width: auto; /* Adjusts the width automatically based on the height */
    }
    
    .header-menu{
position: relative;
background-color: #2196f3;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .logo{
        width: fit-content;
        float: left;
    }
    .main-menu{
        list-style: none;
        float: right;
        margin-top: 20px;
        padding: 0;
        margin: 0;
        display: flex;
    }
    .main-menu a{
        font-weight: 500;
        color: #3a3a3a;
        font-size: 15px;
        text-decoration: none;
        
        
    }
    .main-menu li{
        float: left;
        padding: 12px 15px;
        margin: 0 10px;
    }
    .slider-width {
        width: 100%; /* Makes the image take full width */
        height: auto;
        object-fit: cover;
    }
    
    .margin-top-50{
        margin-top: 50px;
    }
    .width-33{
        width: 33%;
        float: left;
    }
    .latest-news{
        margin-left: 10px;
        margin-right: 10px;
        background: #217753;
        padding: 20px;
        height: 350px;
        margin-bottom: 30px;
    }
    .heading-sect{
        width: 100%;
        float: left;
        border-bottom: 1px solid #cfcfcf;
        margin: 0px;
        margin-bottom: 15px;
        border: 1px solid #cfcfcf;
        padding-top: 15px;
        padding-left: 15px;
        background: #00aed9;
        color: white;
    }
    .head-title{
        margin: 0px;
        padding: 0px;
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 5px;
    }
    .latest-news-ul{
        padding: 0px;
        list-style: none;
        line-height: 40px;
    }
    .event-list{
        margin-left: 10px;
        margin-right: 10px;
        background: #217753;
        padding: 20px;
        height: 350px;
        margin-bottom: 30px;
    }
.upcoming-event-list{
    padding: 0px;
    list-style: none;
}
.upcoming-event-list li{
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.event-date{
    background: #03a9f4;
    width: 30px;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #217753;
    padding: 8px;
    margin-right: 10px;
}
.notice-board{
margin-left: 10px;
margin-right: 10px;
background: #217753;
padding: 20px;
height: 350px;
margin-bottom: 30px;
}
.notice-board-list{
padding: 0px;
list-style: none;
line-height: 40px;
}
.notice-board-list li{
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

/*--------about us page --------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
